---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import data from "../data/websites.json";
import type { Website } from '../types';

const websites = data.reverse();
---

<Layout>
	<main class="w-full max-w-screen-2xl mx-auto grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
		{
			websites.map((website, index) => {
				if (index < 10) {
					return <Card website={website as Website} lazy={false} />
				} else {
					return <Card website={website as Website} lazy={true} />
				}
			})
		}
	</main>
</Layout>