---

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="favicon.svg">

		<!-- Primary Meta Tags -->
		<title>Web Inspirations</title>
		<meta name="title" content="Web Inspirations">
		<meta name="description" content="A curated list of good-looking websites.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://abjt14.github.io/web-inspirations">
		<meta property="og:title" content="Web Inspirations">
		<meta property="og:description" content="A curated list of good-looking websites.">
		<meta property="og:image" content="https://raw.githubusercontent.com/abjt14/web-inspirations/main/screenshot.jpg">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://abjt14.github.io/web-inspirations">
		<meta property="twitter:title" content="Web Inspirations">
		<meta property="twitter:description" content="A curated list of good-looking websites.">
		<meta property="twitter:image" content="https://raw.githubusercontent.com/abjt14/web-inspirations/main/screenshot.jpg">
	</head>
	<body class="bg-neutral-950 m-4">
		<slot />
	</body>
</html>
<style is:global></style>
